<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:eth0izzle="https://github.com/eth0izzle/NLogToSlack/raw/master/NLogToSlack.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLogToSlack" />
  </extensions>

  <targets async="true">  
    <target xsi:type="Slack"
            name="slackTarget"
            layout="${message}"
            webHookUrl="https://hooks.slack.com/services/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"
            channel="#sandbox"
            username="NLogToSlack"
            compact="false"
            icon=":ghost:"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="slackTarget" />
  </rules>
</nlog>